.Glavny_block{
    position: absolute;
    margin: 100px 420px;
    width: 550px;
    height: 3540px;
    background-color: #323232;
    box-shadow: 0 0 2px silver;
    border-radius: 10px;
    color: white;
}
.post_img{
    max-width: 200px;
}
.post_block{
    margin: 20px 120px;
    width: 300px;
    background-color: #141414;
    align-content: center;
}